apiVersion: v1
kind: Service
metadata:
  name: nutrition-analysis-service
spec:
  selector:
    app: nutrition-analysis-app
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
  type: LoadBalancer
  