{% extends "base.html" %} {% block head %} {{ super() }}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'extended_beauty.css') }}"
/>
{% endblock %}{% block content %} 
<h1>
  Hello Welcome to our Application!
</h1>
<center>
  <img
    src="{{ url_for('static', filename= 'images/nutrition-plan-animated.gif') }}"
    alt="Animated Nutrition Plan GIF"
    height="200px"
  />
</center>
<p>
  Welcome to your Nutritional Analysis API Demo! This web app 
  implements basic CRUD and User Authentication functionality using Flask. You
  can add your meal ingredients here
</p>
{% endblock %}