{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <div class="form-box">
        <h1>Change Password</h1>
        <form class="form">
            <div class="form-field">
                <input type="password" id="new_password" name="new_password" required>
            </div>
            {% if 'username' in session %}
            {% set update_url = url_for('views.update', user=session['username']) %}
            <div class="form-field">
                <input type="submit" value="Update Password" onclick="update_record('{{update_url}}')" class="button">
            </div>
            {% endif %}
        </form>
    </div>
</div>

<script>
    function update_record(url) {
        var newPassword = document.getElementById('new_password').value;
        fetch(url,{
            method:"PATCH",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ new_password: newPassword })
        })
        .then(response => response.json())
        .then(data => {
        console.log("success");
    })
    .catch(error => console.error(error));
    window.location.href="/login";
    }
</script>
{% endblock %}
